extends layout

block content
  .container
    h1 你好，管理员！
    p 权限列表为：
    p #{ RoleList }

    
    //a(href='/selectuser')
    //    button.btn.btn-primary(type="button") 查询用户
    //<br>
    //<br>
    //a(href='/deleteuser')
    //    button.btn.btn-primary(type="button") 删除用户