extends layout

block content
  .container
    h1 注册页面
    p.lead 请输入信息
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='输入名字')
      .form-group
        input.form-control(type='password', name="password", placeholder='输入密码')
      button.btn.btn-default(type='submit') 提交
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") 取消